A:visited{TEXT-DECORATION: none;color:#000000;}
A:active{TEXT-DECORATION: none;color:red;}
A:link{text-decoration: none;color:000;}
A:hover {TEXT-DECORATION: none;color:red}
BODY{
COLOR: #000000;
background:D4D0C8; 
scrollbar-3d-light-color:#000000;
scrollbar-arrow-color:#000000;
scrollbar-base-color:#D4D0C8;
scrollbar-darkshadow-color:#000000;
scrollbar-face-color:#D4D0C8;
scrollbar-highlight-color:#ffffff;
scrollbar-shadow-color:#999999;
scrollbar-track-color:#D4D0C8;
margin:0;
padding:0;overflow:auto;}
td{font-size: 9pt}
TABLE{FONT-SIZE: 9pt;BORDER-COLLAPSE: collapse;}
INPUT {
	BORDER-TOP-WIDTH: 1px;
	BORDER-LEFT-WIDTH: 1px;
	FONT-SIZE: 12px;
	BORDER-BOTTOM-WIDTH: 1px;
	BORDER-RIGHT-WIDTH: 1px;
	height: 20px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 2px;
	color: #0000FF;
}
FORM {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px}
.title{background:url(admintitle.gif);color:#ffffff;}
.titleleft{background:url(adminleft.gif);color:#ffffff;cursor:hand}
.uptitle{background:url(uptitle.gif);color:#ffffff;cursor:hand}
.foot{background:#D4D0C8;color:#000;}
.bg{background:#D4D0C8;}
.button{
	background:#D4D0C8;
	color:#000;
	BORDER-RIGHT:1px solid #666;
	BORDER-TOP:1px solid #ffffff;
	border-left:1px solid #ffffff;
	BORDER-bottom:1px solid #666;
	font-size:9pt;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 2px;
	height: 20px;
}
.adminbutton{background:#D4D0C8;color:#000;BORDER-RIGHT:1px solid #666;BORDER-TOP:1px solid #ffffff;border-left:1px solid #ffffff;BORDER-bottom:1px solid #666;height:20;width:60}
.hr{BORDER-TOP:1px solid #000000;BORDER-bottom:1px solid #ffffff;}
.3d{BORDER-RIGHT:1px solid #000;BORDER-TOP:1px solid #ffffff;border-left:1px solid #ffffff;BORDER-bottom:1px solid #000;}
.yecao{border:solid 1px #666;color:#000;font-size: 12px;background:#ffffff;}
.overbar{background:963}
.bar{background:666}
.overleft{background:url(adminoverleft.gif);color:#ffffff;}
.left{background:url(adminleft.gif);color:#ffffff;}
